backend/n8n_workflow.json
{
  "name": "GeoInsight Analysis Workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "start",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "path": "/webhook/analysis",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Analysis Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "webhookId": "analysis-webhook",
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:8000/api/tasks/neighborhood/async",
        "authentication": "none",
        "sendQuery": true,
        "sendBody": true,
        "options": {
          "timeout": 300000
        }
      },
      "id": "fastapi",
      "name": "Start Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json['status']}}",
              "operation": "equals",
              "value2": "queued"
            }
          ]
        }
      },
      "id": "if",
      "name": "If Status Queued",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "limit": 1,
        "wait": true,
        "limitType": "wait"
      },
      "id": "wait",
      "name": "Wait for Completion",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "url": "http://localhost:8000/api/neighborhood/{{$json['analysis_id']}}",
        "authentication": "none",
        "options": {}
      },
      "id": "getResults",
      "name": "Get Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": false,
        "sendBody": true,
        "options": {},
        "nodeCredentialType": "n8n-nodes-base.httpBasicAuth"
      },
      "id": "email",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1450, 200],
      "credentials": {
        "httpBasicAuth": {
          "id": "1",
          "name": "Gmail"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "Analysis failed"
            }
          ]
        },
        "options": {}
      },
      "id": "set",
      "name": "Set Error Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1250, 400]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Analysis Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analysis Webhook": {
      "main": [
        [
          {
            "node": "Start Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Analysis": {
      "main": [
        [
          {
            "node": "If Status Queued",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Status Queued": {
      "main": [
        [
          {
            "node": "Wait for Completion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Error Message",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait for Completion": {
      "main": [
        [
          {
            "node": "Get Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Results": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Error Message": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}